@model ConferencesProject.Models.Conference

@{
    ViewBag.Title = "SignUp";
}

<h2>Are you sure you want to sign up to conference @Model.Name </h2>


@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="SignUp" class="btn btn-default" /> |
        @Html.ActionLink("Back to List", "Index")
    </div>
}