@model IEnumerable<ConferencesProject.Models.ApplicationUser>

@{
    ViewBag.Title = "Users list";
}

<h2>Users list</h2>


<table class="table" style="background-color: darkgray">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
    </tr>

    @foreach (var item in Model) {
        <tr class="UsersListItem">
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
        </tr>
    }

</table>
@if (Model.Any())
{
    <p>
        @Html.ActionLink("Get users info in XML", "GetUsersXML")
    </p>

    <p>
        @Html.ActionLink("Download users info in CSV", "DownloadUsersInCSV")
    </p>
}